<form>
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Edit the post</legend>
        <div class="uk-margin">
            {{input data-test-post-edit-title class="uk-input" value=model.title}}
        </div>
        <div class="uk-margin">
            {{textarea data-test-post-edit-body class="uk-textarea" rows="5" value=model.body}}
        </div>
        <button class="uk-button uk-button-primary" data-test-edit-post-button {{action 'editPost'}}>Edit</button>
    </fieldset>
</form> 
