<form>
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Edit the post</legend>
        <div class="uk-margin">
            {{input class="uk-input" value=model.title}}
        </div>
        <div class="uk-margin">
            {{textarea class="uk-textarea" rows="5" value=model.body}}
        </div>
        <button class="uk-button uk-button-primary" {{action 'editPost'}}>Edit</button>
    </fieldset>
</form> 
