<form>
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Create a post</legend>
        <div class="uk-margin">
            {{input class="uk-input" value=newTitle placeholder="Title"}}
        </div>
        <div class="uk-margin">
            {{textarea class="uk-textarea" rows="5" value=newBody placeholder="Body"}}
        </div>
        <button class="uk-button uk-button-primary" {{action 'createPost'}}>Create</button>
    </fieldset>
</form> 
