<form {{action 'authenticate' on='submit' }}>
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Login</legend>
    <div class="uk-margin">
      {{input type='text' placeholder='Username' class='uk-input username' value=identification autofocus=true}}
    </div>
    <div class="uk-margin">
      {{input type='password' placeholder='Password' class='uk-input password' value=password}}
    </div>
    <button type="submit" class="uk-button uk-button-primary">
      Login
    </button>
  </fieldset>
</form>