<h3>All posts</h3>

{{#each model as |post|}}
  {{#link-to "posts.show" post class="post.id uk-link-reset"}}
    <div class="listing uk-card uk-card-body uk-card-hover">
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>
    </div>
  {{/link-to}}
{{/each}}

